*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  
  display:grid ;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 400px;
  max-width: 700px;
  gap: 2px;
  margin: 30px;
  margin-inline: auto;
}

.header{
  background-color: #ff9b6d;
  grid-column: 1/5;
  display: grid;
  grid-template-columns: 1fr 6fr;
  padding: 10px;
 gap:10px;
 
 
}
.sidebar{
  background-color: #ceea41;
  grid-row: span 3;
  display: grid;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}
 .content{
  background-color: #7dbca9;
  grid-row: span 2;
  grid-column: 2/5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 20px;
  
 }
 .footer{
  background-color:#87ceeb ;
  grid-column:2/5;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 10px;
  gap: 5px;
  
 }
 .logo{
  background-color:#ffd37c;
  color: white;
 display: grid;
 justify-content: center;
 align-content: center;
 
   }
 .nav2{
  background-color:#ffd37c;
  color: white;
  display: grid;
  align-content: center;
  padding-left: 15px;
 }
 span{
  
  background-color: #a9ba4f;
  display: grid;
  justify-content: center;
  align-content: center;
  width:130px ;
  color: white;

  
 }
 .content p{
  background-color: #8de1ca;
  padding: 10px;
  color: white;
  
 }
 .footer p{
  color: white;
  background-color: #8a9dc7;
  display: grid;
  align-content: center;
  padding-left: 10px;
 }
.logo2{
  justify-content: center;
}