* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  margin-bottom: 40px;
}
fieldset {
  background-color: beige;
}
legend {
  margin-left: 10px;
}
label {
  margin-right: 10px;
}

.container {
  margin-inline: auto;
  width: 350px;
}
.input-field {
  padding: 5px 0px 10px 50px;
}

.input-field1 {
  padding: 5px 10px 15px 25px;
}
.input-field2 {
  padding: 5px 0px 20px 70px;
}
.space {
  padding: 5px 0px 10px 80px;
}
button {
  margin-top: 25px;
  position: relative;
  left: 38%;
  padding: 4px;
}
